.sesion-admin {
    background-color: #191d88;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sesion-admin .div {
    background-color: #191d88;
    width: 411px;
    height: 823px;
    position: relative;
  }
  
  .sesion-admin .boton-iniciar {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 419px;
    left: 106px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 29.17%,
      rgba(0, 0, 0, 0.15) 52.08%,
      rgba(0, 0, 0, 0.05) 71.88%,
      rgba(0, 0, 0, 0) 85.94%
    );
  }
  
  .sesion-admin .text-wrapper {
    position: absolute;
    top: 4px;
    left: 36px;
    font-family: "Blinker-Light", Helvetica;
    font-weight: 300;
    color: #eaeaea;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sesion-admin .entrada-contrasea {
    top: 345px;
    position: absolute;
    width: 320px;
    height: 45px;
    left: 46px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .sesion-admin .text-wrapper-2 {
    position: absolute;
    top: 1px;
    left: 18px;
    font-family: "Blinker-ExtraLight", Helvetica;
    font-weight: 200;
    color: #4e4e4e80;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sesion-admin .entrada-usuario {
    top: 271px;
    position: absolute;
    width: 320px;
    height: 45px;
    left: 46px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .sesion-admin .text-wrapper-3 {
    position: absolute;
    top: 3px;
    left: 18px;
    font-family: "Blinker-ExtraLight", Helvetica;
    font-weight: 200;
    color: #4e4e4e80;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sesion-admin .encabezado {
    position: absolute;
    width: 336px;
    height: 84px;
    top: 84px;
    left: 26px;
  }
  
  .sesion-admin .para-continuar-debes {
    position: absolute;
    top: 65px;
    left: 0;
    font-family: "Blinker-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sesion-admin .text-wrapper-4 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Blinker-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sesion-admin .salir {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 34px;
    left: 341px;
    object-fit: cover;
  }