.contrasea-olvidada {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .contrasea-olvidada .div {
    background-color: #f0f0f0;
    width: 411px;
    height: 823px;
    position: relative;
  }
  
  .contrasea-olvidada .boton-atras {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 713px;
    left: 71px;
    object-fit: cover;
  }
  
  .contrasea-olvidada .boton-continuar {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 381px;
    left: 106px;
    background-color: #213555;
    border-radius: 10px;
  }
  
  .contrasea-olvidada .text-wrapper {
    position: absolute;
    top: 11px;
    left: 37px;
    font-family: "Blinker-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .contrasea-olvidada .entrada-correo {
    position: absolute;
    width: 350px;
    height: 100px;
    top: 222px;
    left: 31px;
  }
  
  .contrasea-olvidada .overlap {
    position: relative;
    width: 336px;
    height: 60px;
    top: 19px;
    left: 7px;
    background-color: #213555;
    border-radius: 10px;
  }
  
  .contrasea-olvidada .overlap-group-wrapper {
    position: relative;
    width: 320px;
    height: 45px;
    top: 8px;
    left: 8px;
  }
  
  .contrasea-olvidada .overlap-group {
    position: relative;
    width: 322px;
    height: 47px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #4e4e4e;
  }
  
  .contrasea-olvidada .text-wrapper-2 {
    position: absolute;
    top: 3px;
    left: 18px;
    font-family: "Blinker-ExtraLight", Helvetica;
    font-weight: 200;
    color: #4e4e4e80;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .contrasea-olvidada .para-continuar {
    position: absolute;
    top: 122px;
    left: 33px;
    font-family: "Blinker-Regular", Helvetica;
    font-weight: 400;
    color: #4e4e4e;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contrasea-olvidada .text-wrapper-3 {
    position: absolute;
    top: 57px;
    left: 28px;
    font-family: "Blinker-SemiBold", Helvetica;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }