:root{
    --primaryChat-bg-color: rgb(25,29,136);
    --secondaryChat-bg-color: rgb(13,15,68);
}

main{
    position: relative;
    background: var(--primaryChat-bg-color);
    background: linear-gradient(var(--secondaryChat-bg-color) 0%, var(--primaryChat-bg-color) 30%, var(--primaryChat-bg-color) 70%, var(--secondaryChat-bg-color) 100%);
    font-family: 'Blinker';
    padding-block: 2%;
    height: 100vh;
}

main > div.cabeceraChat{
    background: var(--secondaryChat-bg-color);
    background: linear-gradient(var(--secondaryChat-bg-color) 75%, transparent 100%);
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}


main > div.cabeceraChat > a{
    color:black;
    border-radius: 100%;
    padding: 2.7% 5.1%;
    background: var(--primaryAdmin-a-bg-color);
    margin-left: 5%;
}

main > div.cabeceraChat > h2{
    font-size: 2.5em;
    color: aliceblue;
    margin-left: 8%;
}

div.cabeceraChat > a > svg{
    font-size: 2em;
}

main > div.contenedorChat{
    background: var(--primaryChat-bg-color);
    background: linear-gradient(transparent 10%, var(--primaryChat-bg-color) 90%, transparent 100%);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 70svh;
}

div.contenedorChat > div{
    color: aliceblue;
    background: var(--primary-user-bg-color);
    width: 90%;
    margin-block: 2%;
}

main > div.pieChat{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: var(--secondaryChat-bg-color);
    background: linear-gradient(to top, var(--secondaryChat-bg-color) 70%, transparent 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2%;
}
