main{
    background: var(--primary-bg-color);
    font-family: 'Blinker';
    padding-inline: 6%;
    padding-top: 10%;
    height: 100vh;
    color:aliceblue;
}

main > div{
    display: flex;
    align-items: center;
    border-radius: 5px;
}

main > div.cabecera{
    justify-content: space-between;
    margin-bottom: 5%;
}

main > div.cabecera > h2{
    font-size: 2em;
    width: 50%;
}

main > div.cabecera > a{
    color:var(--primary-bg-color);
    border-radius: 100%;
    padding: 2.15% 4.8%;
    font-size: 1.8em;
    background: var(--primaryAdmin-a-bg-color);
}

main > div.filtradoMes{
    background: var(--secundaryAdmin-bg-color);
}

main > div.filtradoMes > div.filtradoTxt{
    width: 30%;
}

main > div.filtradoMes > div > p{
    text-align: center;
    font-size: 120%;
}

main > div.filtradoMes > div.filtradoSelect{
    width: 70%;
}

div.filtradoSelect > div{
    display: flex;
    justify-content: space-between;
}

div.filtradoSelect > div > div > div > button{
    font-size: 1em;
}

div.filtradoSelect > select{
    display: block;
    margin: 0 auto;
}

main > div.contenedorHistorial{
    overflow-y: scroll;
    margin-top: 5%;
    background: var(--secundaryAdmin-bg-color);
    display: grid;
    row-gap: 5px;
}

main > div.contenedorHistorial > div{
    position: relative;
}

main > div.contenedorHistorial > div > .defaultTexto{
    text-align: center;
    font-size: 0.9em;
    padding-top: 17%;
}

main > div.contenedorHistorial > div > .ocultarTexto{
    display: none;
}