div.ayuda{
    margin: 3% 5% 0 5%;
}

div.ayuda > div.h1{
    background: #D2FDFE;
    padding-left: 3%;
}

div.ayuda > div.h1 > h1{
    color: #4F4F4F;
    background: white;
    padding-left: 1%;
    font-weight: 400;
}

div.ayuda > p{
    padding-top: 6%;
}