header{
    font-family: "montserrat", sans-serif;
    background: #3bb4bacc;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > div.logoContenedor{
    width: 50%;
    padding: 3% 1% 3% 5%;
    margin: 0;
}

nav > div.logoContenedor > a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div.logoContenedor > a > img{
    width: 20%;
    height: auto;
}

header > nav > div.logoContenedor > a > h4{
    text-decoration: none;
    color: black;
    
}




nav > .btn-bars{
    display: block;
    float: right;
    font-size: 180%;
    margin-right: 20px;
    cursor: pointer;
    color:rgb(70, 70, 70);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: all 0.5s;
}

nav > ul.nav-lista{
    list-style: none;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 7.2%;
    background: rgb(3, 79, 167);
    text-align: center;
    z-index: 9000;
}

nav > ul.nav-lista > li{
    opacity: 0;
    padding-block: 5%;
    line-height: 16px;
    transition: opacity 0.5s;
    color:aliceblue;
}

.btn-bars-active{
    display: block;
    float: right;
    font-size: 180%;
    margin-right: 20px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    transition: all 0.5s;
}

ul.menu-open{
    height: 100vh;
    list-style: none;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 7.2%;
    background: rgb(9, 77, 155);
    text-align: center;
    transition: all .5s;
    z-index: 9000;
}

ul.menu-open > li{
    opacity: 1;
    padding-block: 5%;
    line-height: 16px;
    transition: all .5s;
    color:aliceblue;
}

nav > ul > li > img{
    padding-top: 15%;
    height: auto;
    width: 30%;
}

nav > ul > li > p{
    font-size: 120%;
}

ul > li > a{
    color: rgb(238, 238, 238);
    background-color: #337CCF;
    padding: 3% 5%;
    border-radius: 20px;
    font-size: 110%;
    text-transform: uppercase;
}