header{
    font-family: "montserrat", sans-serif;
}

header > nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #5af2fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > div.logoContenedor{
    width: 100%;
    padding-block: 2%;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

nav > div.logoContenedor > a{
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div.logoContenedor > a > img{
    width: 25%;
    height: auto;
}

header > nav > div.logoContenedor > a > h4{
    text-decoration: none;
    color: black;
    font-size: 4vw;
}

nav > div.logoContenedor > .btn-bars{
    float: right;
    font-size: 6.78vw;
    cursor: pointer;
    color:rgb(70, 70, 70);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: all 0.5s;
}

nav > ul.nav-lista{
    overflow: hidden;
    z-index: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 0vh;
    background: var(--primary-bg-color);
    top: 7.2%;
    text-align: center;
    transition: all 0.5s;
}

nav > ul.nav-lista > li{
    margin: 3vh 0;
    opacity: 0;
    padding-block: 5%;
    line-height: 16px;
    transition: opacity 0.5s;
    color:aliceblue;
}

.btn-bars-active{
    display: block;
    float: right;
    font-size: 8vw;
    background: rgba(0, 0, 0, 0.046);
    cursor: pointer;
    color:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.68);
    transition: all 0.5s;
}

ul.menu-open{
    z-index: 1000;
    display: block;
    height: 100vh;
    list-style: none;
    padding: 0;
    width: 100%;
    top: 7.2%;
    background: var(--primary-bg-color);
    text-align: center;
    transition: all .5s;
    z-index: 1000;
}

ul.menu-open > li{
    margin: 3vh 0;
    opacity: 1;
    padding-block: 5%;
    line-height: 16px;
    transition: all .5s;
    color:aliceblue;
}

ul.nav-lista > li#chatbot{
    transition: all 1s;
}

ul.menu-open > li#chatbot{
    transition: all 1s;
}

li > p.user{
    line-height: 35px;
    font-size: 2em;
}

nav > ul > li > img{
    padding-top: 3%;
    height: auto;
    width: 30%;
}

nav > ul > li > p{
    font-size: 120%;
}

ul > li > a{
    color: rgb(238, 238, 238);
    background: var(--primary-a-bg-color);
    padding: 3% 5%;
    border-radius: 20px;
    font-size: 110%;
    text-transform: uppercase;
}

ul.nav-lista > li#chatbot > a#chatbotBtn{
    display: none;
}

ul.menu-open > li#chatbot > a#chatbotBtn{
    z-index: 1000;
    padding: 3%;
    border-radius: 100%;
    font-size: 2.2em;
    color: var(--primary-bg-color);
    position: fixed;
    top: 90%;
    right: 2%;
    transition: all 1.5s 0.5s;
    height: auto;
    width: auto;
}