*{
    margin: 0;
    box-sizing: border-box;
}
  
* a{
    text-decoration: none;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }